.bg-light-blue{
    background-color: #6FC3DF;
}
.bg-purple{
    background-color: #8D82C4;
}
.bg-green{
    background-color: #87C5A4;
}
.bg-blue{
    background-color: #8EA9E8;
}
.bg-orange{
    background-color: #E7B788;
}
.bg-red{
    background-color: #EC8D81;
}